# Required settings
authconfig --enableshadow --passalgo=sha512
keyboard us
lang en_GB.UTF-8
rootpw vagrant
timezone Europe/London

# Optional settings
install
cdrom
network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw --plaintext vagrant
firewall --enabled --service=ssh
selinux --disabled
unsupported_hardware
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"

text
skipx
zerombr

clearpart --all --initlabel
autopart

auth  --useshadow  --enablemd5
firstboot --disabled
reboot

%packages --ignoremissing
@Base
@Core
@Development Tools
dkms
gcc
kernel-devel
kernel-headers
make
nfs-utils
openssh-clients
perl
sudo
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
%end

%post
/usr/bin/yum -y install sudo
/usr/sbin/groupadd -g 1000 vagrant
/usr/sbin/useradd vagrant -u 1000 -g vagrant -G wheel
echo "vagrant"|passwd --stdin vagrant
echo 'Defaults:vagrant !requiretty' > /etc/sudoers.d/vagrant
echo "vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 440 /etc/sudoers.d/vagrant
%end
